
@{
    ViewBag.Title = "CadastroPessoaJ";
}

<h2>CadastroPessoaJ</h2>

<form name="Form1" action="/Cadastro/CadastroPessoaJ" method="post">
    <div class="form-group">
        <label for="Cnpj">Cnpj</label>
        <input type="text" name="cnpj" class="form-control" id="cnpj" maxlength="14" required placeholder="Digite seu CNPJ">

    </div>
    <div class="form-group">
        <label for="NomeFantasia">Nome Fantasia</label>
        <input type="text" name="nomeFantasia" class="form-control" id="nomeFantasia" maxlength="30" required placeholder="Digite seu nome fantasia">

    </div>


    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a class="btn btn-danger" href="/Cadastro/Listar">Voltar</a>

</form>
